* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

# Suppress line ending warnings for node_modules
node_modules/** -text

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
